<div class="jobseeker-container mt-2">
  <div class="col-12-xs col-7-md col-7-xl col-7-xxl">
    <div class="card bg-white p-2">
      <div class="card-content">
        <div class="">
          <h1 class="font-xxl font-semibold text-light-blue mb-1">
            Employeers
          </h1>
          <p class="mb-1">Log in to your Employer Account</p>
          <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="loginEmployer()">
              <div class="input-group mt-2">
                <div class="col-12-xs col-12-md col-12-xl">
                  <label for="email" class="font-md">Email</label>
                  <input
                    id="email"
                    type="email"
                    class="input"
                    formControlName="email"
                    [ngClass]="{
                                'border-red':
                                  email?.invalid &&
                                  email?.touched &&
                                  email?.errors?.['required']
                              }"
                  />
                  <p
                    *ngIf="email?.invalid && email?.touched && email?.errors?.['required']"
                    class="text-red font-sm"
                  >
                    {{ required }}
                  </p>
                </div>
                <div class="col-12-xs col-12-md col-12-xl">
                  <label for="password" class="font-md">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="input"
                    formControlName="password"
                    [ngClass]="{
                                'border-red':
                                  password?.invalid &&
                                  password?.touched &&
                                  password?.errors?.['required']
                              }"
                  />
                  <p
                    *ngIf="password?.invalid && password?.touched && password?.errors?.['required']"
                    class="text-red font-sm"
                  >
                    {{ required }}
                  </p>
                </div>
              </div>
              <div class="button mt-2">
                <button type="submit" class="btn-primary font-semibold">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-content-secondary col-6-xl">
          <p class="p-text">Post unlimited jobs for free.</p>
          <img
            src="../../assets/post-unlimited-jobs-for-free.svg.svg"
            alt="post job"
            width="300"
          />
          <p class="p-text mt-1">
            Download unlimited CVs of the applicants to your jobs.
          </p>
          <img
            src="../../assets/recruiter-welcoming-in-a-job-interview.svg.svg"
            alt="recruiter welcome"
            width="300"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="card card-2 bg-white col-4-xl p-2 col-12-xs col-12-md">
    <h1 class="font-normal font-xl card-2-title">
      Don&apos;t have an account?
    </h1>
    <button
      class="btn-outlined-blue btn-card-2"
      [routerLink]="['/employers/signup']"
    >
      REGISTER HERE
    </button>

    <h1 class="font-normal font-xl card-2-title">Are you a Jobseeker</h1>
    <button class="btn-outlined-blue btn-card-2" [routerLink]="['/jobseekers/login']">LOGIN HERE</button>
  </div>
</div>
