<div class="col-12-xs col-12-md col-12-xl col-12-xxl job-offers-container pb-2">
  <div class="filter-container">
    <div class="search-container col-4-xl">
      <div class="search-img">
        <img src="../../assets/search.svg" alt="search" width="20" />
      </div>
      <input
        type="text"
        name=""
        id=""
        class="input-search"
        placeholder="Job Title, Company or Keyword"
      />
    </div>
    <div class="search-container col-2-xl">
      <div class="search-img ">
        <img src="../../assets/map-pin.svg" alt="location" width="20" />
      </div>
      <select name="" id="" class="input-search">
        <option value="lagos">Lagos</option>
        <option value="abuja">Abuja</option>
      </select>
    </div>

    <div class="button btn-container">
      <button type="submit" class="btn-primary font-semibold">Find jobs</button>
    </div>
  </div>
  <ngx-skeleton-loader count="5" class="col-7-xl col-7-md mt-2" *ngIf="!jobs" />
  <div
    *ngFor="let job of jobs"
    class="card bg-white job-offers-card col-7-xl col-7-md"
  >
    <div class="job-offer-title">
      <h2 class="font-md font-semibold">{{ job.title }}</h2>
      <p class="font-xs time-posted-badge">
        {{ job.datePosted | date : "dd/MM/yyyy" }}
      </p>
    </div>
    <div>
      <p class="job-offer-details">
        <img src="../../assets/banknote.svg" alt="salary" width="20" />
        <span class="font-sm">{{ job.salary }} USD yearly</span>
      </p>
      <p class="job-offer-details">
        <img src="../../assets/map-pin.svg" alt="location" width="20" />
        <span class="font-sm">{{ job.location }}</span>
      </p>
      <p class="job-offer-details">
        <img src="../../assets/building-2.svg" alt="company" width="20" />
        <span class="font-sm">{{ job.company }}</span>
      </p>
      <p class="font-sm job-offer-details-description">
        {{ job.description }}
      </p>
    </div>
  </div>
</div>
