@use "sass:math";
@import "../app.component.scss";

.job-offers-card {
  margin: 40px auto;
}

.job-offer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.time-posted-badge {
  background-color: lighten($secondary, 40);
  border-radius: $base-border-radius * 8;
  width: 100px;
  text-align: center;
  padding: 5px 0;
}

.job-offer-details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
}

.job-offer-details-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container {
  display: flex;
}

.search-img {
  width: 20px;
  align-self: flex-end;
  padding: 10px;
  border: 0.5px solid gray;
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  background-color: lighten(gray, 45);
}

.input-search {
  width: 100%;
  padding: $base-padding;
  border: 0.5px solid gray;
  border-top-right-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  margin-top: $base-margin;
}

.btn-container {
  align-self: flex-end;
}
