<header class="bg-dark-blue">
  <nav class="container navbar">
    <h2 class="font-xl text-white">Job-portal</h2>
    <div class="">
      <button
        class="btn-outlined-white font-semibold"
        [routerLink]="['/jobseekers/signup']"
      >
        Jobseekers
      </button>
      <button
        class="btn-primary ml-1 font-semibold"
        [routerLink]="['/employers/signup']"
      >
        Employeers
      </button>
    </div>
  </nav>
</header>
<div class="">
  <main class="container main">
    <router-outlet></router-outlet>
  </main>
</div>
