<div class="col-12-xs col-12-md col-12-xl col-12-xxl job-offers-container pb-2">
  <div class="dashboard-header">
    <h2 class="font-xxl font-semibold employer-dashboard-title">
      Employers <span>Panel</span>
    </h2>
    <p class="font-semibold">
      Contact: <span>Rukundo Aime</span> | Company: <span>100Devs</span>
    </p>
  </div>
  <div class="card-container mt-2">
    <div class="card card-details" [routerLink]="['/employers/jobs/add']">
      <h2 class="font-lg font-semibold">Post a Job</h2>
      <p class="card-content">
        Post a new job listing to find the ideal candidate.
      </p>

      <p class="post-now font-semibold">Post Now</p>
    </div>
  </div>
</div>
