<div class="jobseeker-container mt-2">
  <div class="col-12-xs col-7-md col-7-xl col-7-xxl">
    <div class="card bg-white p-2">
      <h1 class="font-xxl font-semibold text-light-blue mb-2">
        Employer Sign-up
      </h1>
      <div class="form-container p-2">
        <form [formGroup]="signupForm" (ngSubmit)="signUpEmployer()">
          <div class="input-group">
            <div class="col-12-xs col-8-md col-6-xl">
              <label for="company-name" class="font-md">Company Name</label>
              <input
                id="company-name"
                type="text"
                class="input"
                formControlName="companyName"
                [ngClass]="{
                    'border-red':
                      signupForm.controls.companyName.invalid &&
                      signupForm.controls.companyName.touched &&
                      signupForm.controls.companyName.errors?.['required']
                  }"
              />
              <p
                *ngIf="signupForm.controls.companyName.invalid &&
                  signupForm.controls.companyName.touched && signupForm.controls.companyName.errors?.['required']"
                class="text-red font-sm"
              >
                Field is required
              </p>
            </div>
            <div class="col-12-xs col-8-md col-6-xl">
              <label for="contact-name" class="font-md">Contact Name</label>
              <input
                id="contact-name"
                type="text"
                class="input"
                formControlName="contactName"
                [ngClass]="{
                    'border-red':
                      signupForm.controls.contactName.invalid &&
                      signupForm.controls.contactName.touched &&
                      signupForm.controls.contactName.errors?.['required']
                  }"
              />
              <p
                *ngIf="signupForm.controls.contactName.invalid &&
                  signupForm.controls.contactName.touched && signupForm.controls.contactName.errors?.['required']"
                class="text-red font-sm"
              >
                Field is required
              </p>
            </div>
          </div>
          <div class="input-group mt-2">
            <div class="col-12-xs col-8-md col-6-xl">
              <label for="business-email" class="font-md"
                >Business E-mail</label
              >
              <input
                id="business-email"
                type="email"
                class="input"
                formControlName="businessEmail"
                [ngClass]="{
                    'border-red':
                      signupForm.controls.businessEmail.invalid &&
                      signupForm.controls.businessEmail.touched &&
                      signupForm.controls.businessEmail.errors?.['required']
                  }"
              />
              <p
                *ngIf="signupForm.controls.businessEmail.invalid && signupForm.controls.businessEmail.touched && signupForm.controls.businessEmail.errors?.['required']"
                class="text-red font-sm"
              >
                Field is required
              </p>
            </div>
            <div class="col-12-xs col-8-md col-6-xl">
              <label for="password" class="font-md">Password</label>
              <input
                id="password"
                type="password"
                class="input"
                formControlName="password"
                [ngClass]="{
                    'border-red':
                      signupForm.controls.password.invalid &&
                      signupForm.controls.password.touched &&
                      signupForm.controls.password.errors?.['required']
                  }"
              />
              <p
                *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched && signupForm.controls.password.errors?.['required']"
                class="text-red font-sm"
              >
                Field is required
              </p>
            </div>
          </div>
          <div class="button mt-2">
            <button type="submit" class="btn-primary font-semibold">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card card-2 bg-white col-4-xl p-2 col-12-xs col-12-md">
    <h1 class="font-normal font-xl card-2-title">Already Registered?</h1>
    <button class="btn-outlined-blue btn-card-2">LOGIN HERE</button>
    <h1 class="font-normal font-xl card-2-title">Are you an Employer?</h1>
    <button class="btn-outlined-blue btn-card-2">LOGIN HERE</button>
  </div>
</div>
