<div class="col-12-xs col-12-md col-12-xl col-12-xxl pb-2">
  <div class="employer-job-post-title">
    <h2 class="font-xxl font-semibold mb-1">Post a Job Offer</h2>
    <p class="mb-1 font-lg">Complete the form below to Post a Job Offer.</p>
    <p class="font-lg">Fields marked with * are mandatory</p>
  </div>

  <div class="card col-12-xs col-12-md mt-2">
    <h3 class="font-semibold font-md">Company: 100Devs</h3>
    <div class="mt-2">
      <form action="">
        <div>
          <label for="">Job Title*</label>
          <input type="text" name="" id="" class="input" />
          <p class="font-normal font-nd">
            The title must be specific and accurately reflect the purpose and
            scope of the position. <br />
            Avoid unrelated terms for a professional title and better search
            results.
          </p>
        </div>
        <div class="mt-2">
          <label for="">Job Description*</label>
          <textarea name="" id="" class="input" rows="8"></textarea>
        </div>
        <div class="input-group mt-2">
          <div class="col-12-xs col-8-md col-6-xl">
            <label for="category" class="font-md">Category*</label>
            <select name="" id="category" class="input">
              <option value="software">Software development</option>
              <option value="accounting">Accounting</option>
              <option value="marketing">Marketing</option>
              <option value="hr">HR</option>
              <option value="it">IT</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-12-xs col-8-md col-6-xl">
            <label for="contact-name" class="font-md">Contract Type*</label>
            <select name="" id="" class="input">
              <option value="fullTime">Full-time</option>
              <option value="partTime">Part-time</option>
              <option value="remote">Remote</option>
              <option value="freelance">Freelance</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="input-group mt-2">
          <div class="col-12-xs col-8-md col-6-xl">
            <label for="experience" class="font-md">Experience Required*</label>
            <select name="" id="experience" class="input">
              <option value="noExperience">No Experience</option>
              <option value="oneYear">1 year</option>
              <option value="twoYears">2 years</option>
              <option value="threeToFiveYears">3 - 5 years</option>
              <option value="moreThanFiveYears">More than 5 years</option>
            </select>
          </div>
          <div class="col-12-xs col-8-md col-6-xl">
            <label for="educationLevel" class="font-md">Education Level*</label>
            <select name="" id="educationLevel" class="input">
              <option value="high school">High School</option>
              <option value="bachelor">Bachelor</option>
              <option value="master">Master</option>
              <option value="doctorate">Doctorate</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="button mt-2">
          <button class="btn-primary font-semibold">Post Job</button>
        </div>
      </form>
    </div>
  </div>
</div>
