<div class="jobseeker-container mt-2">
  <div class="col-12-xs col-7-md col-7-xl col-7-xxl">
    <div class="card bg-white p-2">
      <h1 class="font-xxl font-semibold text-light-blue">Jobseeker Sign-up</h1>
      <div class="form-container p-2">
        <form>
          <div class="input-group">
            <div class="col-12-xs col-8-md col-6-xl">
              <label class="font-md">First Name</label>
              <input type="text" class="input" />
            </div>
            <div class="col-12-xs col-8-md col-6-xl">
              <label class="font-md">Last Name</label>
              <input type="text" class="input" />
            </div>
          </div>
          <div class="input-group mt-2">
            <div class="col-12-xs col-8-md col-6-xl">
              <label class="font-md">Email</label>
              <input type="email" class="input" />
            </div>
            <div class="col-12-xs col-8-md col-6-xl">
              <label class="font-md">Password</label>
              <input type="password" class="input" />
            </div>
          </div>
          <div class="button mt-2">
            <button type="submit" class="btn-primary font-semibold">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card card-2 bg-white col-4-xl p-2 col-12-xs col-12-md">
    <h1 class="font-normal card-2-title">Already Registered?</h1>
    <button class="btn-outlined-blue btn-card-2">LOGIN HERE</button>
    <h1 class="font-normal card-2-title">Are you an Employer?</h1>
    <button class="btn-outlined-blue btn-card-2">LOGIN HERE</button>
  </div>
</div>
